<h1>
    You fell in love with: <%= name%>
</h1>

<% if(name.toLowerCase()=='rusty' ){ %>
    <p>Good choice! Rusty is the best!</p>
    <% } else { %>
        <p>Bad choice! You should have said rusty!</p>
        <% } %>

            <p>P.S. this is the love.ejs</p>